@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  background-color: #e8f0fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 25px;
}

.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
  grid-template-columns: auto auto;
}

p {
  margin-bottom: 0;
}