name: Java CI with Maven and Docker

env:
  IMAGE_TAG: ${{ github.sha }}
  REPO_NAME: save-money-be

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install -DskipTests=true

      - name: Run tests
        run: mvn test

  docker:
    runs-on: ubuntu-latest
    needs: build  # Ensures the docker job runs after the build job

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build . --tag ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}

  deploy:
    runs-on: ubuntu-latest
    needs: docker  # Ensures the deploy job runs after the docker job

    steps:
      - name: Deploy Docker image to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_PUBLIC_IP_PROD }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY_SECRET }}
          script: |
            sudo systemctl start docker
            sudo docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}
            sudo docker run -d --name save-money-be -p 8080:8080 ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}
